.dropdown-item.active, .navbar-nav .nav-link.active {
    color: darkred;
    font-weight: bold;
}

.dropdown-item.active {
    background-color: #E9ECEF;
}

.content-container {
    font-family: arial;
    font-size: 24px;
    margin: 0 auto;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    width: 95vw;
    height: 93%;
    max-height: 95vh;
}

.search-box{
    display: flex;
    margin: 0 auto;
    max-width: 80vw;
}

.search-form-box{
    width: 2000px;
    max-width: 80vw;
}

.form-box {
    font-family: arial;
    font-size: 16px;
    border: black solid 2px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 5%;
    width: 700px;
    max-width: 60%;
    max-height: 99%;
    overflow: auto;
}

.submit-box {
    font-family: arial;
    font-size: 24px;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    width: 1000px;
    max-width: 40%;
    height: 70px;
    max-height: 8%;
    align-items: flex-end;
}

.result-container {
    margin: 0 auto;
    max-width: 80vw;
}

.the-form {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    margin-bottom: 0;
    height: 97%;
    max-height: 97%;
}

.message {
    margin-left: 15%;
}

.hide {
    display: none;
}

.err-span {
    color: red;
    font-size: small;
    margin-top: 0;
}

.no-mg-top {
    margin-top: 0;
}

td, th {
    text-align: center;
}

tbody tr {
    vertical-align: middle;
}

.btn-container {
    display: grid;
    grid-template-columns: auto auto;
}

.input-form-box {
    padding-left: 5%;
}

.avatar-display {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    max-width: 20%;
    max-height: 8%;
    margin-left: 4px;
}

.create-row {
    margin-top: 1%;
    margin-bottom: 1%;
}
