.dropdown-item.active, .navbar-nav .nav-link.active {
    color: darkred;
    font-weight: bold;
}

.dropdown-item.active {
    background-color: #E9ECEF;
}

.content-container {
    font-family: arial;
    font-size: 24px;
    border: green solid 3px;
    margin: 0 auto;
    padding: 20px;
    width: 95vw;
    max-height: fit-content;
}

.form-box {
    font-family: arial;
    font-size: 24px;
    border: black solid 2px;
    justify-content: center;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 10%;
    width: 1000px;
    max-width: 60%;
    max-height: 95%;
}

.submit-box {
    font-family: arial;
    font-size: 24px;
    border: chocolate solid 3px;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
    width: 1000px;
    max-width: 60%;
    height: 70px;
    max-height: 8%;
}

.the-form {
    padding: 20px;
}

.message {
    margin-left: 15%;
}

.hide {
    display: none;
}
